.formCreate
{
    display: grid;

    grid-template: 40px auto / 70% 30%;

    width: 100%;
    height: 100%;

    .FCMenu
    {
        grid-column: 1 / span 2;
        grid-row: 1;
        background-color: #222;

        height: 40px;
    }

    .FCListBar
    {
        grid-row: 2;
        background-color: #666;

        height: auto;
    }

    .FCView
    {
        grid-row: 2;
        background-color: #aaa;
    }

}
